h1 {
    text-align:center
}

/* colors */
/* orange: #e37a41 */
/* greenish-blue: #22b0c1 */

/*------- edit ------*/

.block.block-edit {

  position: relative;
  background-color: #ebebeb;
  /*box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);*/

}

.block.block-edit::before {

  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #22b0c1;

}

.block input[word] {

  border: 1px solid #f2f2f2;
  background-color: #f2f2f2 !important;
  padding: 5px 15px;

}

.block input[word].word-edit {

  border: 1px solid #ccc;
  background-color: #f8f8f8 !important;
  padding: 15px;

}

/*------- Overwrite bootdtrap -------*/

html, body {

  width: 100%;
  height: 100%;

}

body {

  background-color: #f0f0f0 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 200;
  color: #555 !important;
  line-height: 2em !important;

}

.navbar {

  min-height: 100px !important;
  margin-bottom: 0px !important;
  border: none !important;

}

.navbar-inverse {

  background-color: #fafafa !important;
  border-color: #fafafa !important;
  opacity: 0.9;

}

.navbar-fixed-top {

  border-width: 0 0 0px !important;

}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {

  background-color: #e37a41;
  color: #fff !important;

}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {

  color: #fff !important;
  background-color: #e37a41 !important;

}

.navbar-inverse .navbar-nav>li>a {
  
  background-color: transparent;
  color: #555 !important;
  font-weight: 200;

}

@media (min-width: 768px){

.navbar-nav>li>a {

  padding: 45px 50px !important;

}

}

.navbar-nav>li>a {

  padding: 45px 50px !important;

}

.navbar-nav>li>a.navbar-brand {

  font-weight: 600;

}

.container {

  padding-right: 0 !important;
  padding-left: 0 !important;

}

.content {

  margin-top: 110px;
  background-color: #f2f2f2;
  min-height: 100%;

}

input, textarea {

  background-color: #f8f8f8 !important;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 15px;
  color: #555;
  margin: 2px 0;

}

/*------- Page -------*/

section {

  width: 100% !important;
  padding: 10px 0;

}

.page, .foot, #form-name {

  position: relative;
  padding: 30px 0;

}

hr {

  margin-top: 60px !important;
  margin-bottom: 0px !important;
  border: 0;
  height: 1px;
  background-color: #ddd;

}

.page > *, .foot > *, #form-name > * {

  width: 80%;
  margin: 0 10%;

}

#form-name {

  font-size: 18px;
  font-weight: 400;
  text-align: center;

}

.title > *, .block > div > * {

  width: 100%;

}

.title {

  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;

}

.title > div {

  padding: 15px;

}

.block {

  padding: 30px 12.5%;
  width: 125%;
  /*margin-left: -12.5%;*/
  margin: 30px 0 30px -12.5%;
  /*padding: 30px 0;*/

}

#blocks[ui-sortable] .block {

  cursor: move;

}

.page-num {
  
  text-align: center;
  color: #999;
  padding: 20px 0px;

}

input[disabled="true"] {

  border: 1px solid #ddd;

}

.question, .description {

  padding: 5px 15px;
  color: #444;

}

.question {

  font-weight: 400;
  font-size: 16px;

}

.description {

  font-weight: 200;

}

select {

  height: 20px;

}

/* edit buttons */

select.question-type {

  display: block;
  font-size: 14px;
  width: 100%;
  margin: 15px 0;

}

button.edit-done-btn {

  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  background-color: #22b0c1;
  color: #fff;
  font-size: 16px;
  border: none;

}

/* submit */

button.submit-btn {

  width: 100%;
  padding: 15px;
  border-radius: 2px;
  background-color: #e37a41;
  color: #fff;
  font-size: 16px;
  border: none;

}

button.submit-btn.left-btn {

  background-color: #22b0c1;
  float: left;
  width: 50%;
  border-radius: 2px 0 0 2px;

}

button.submit-btn.right-btn {

  float: left;
  width: 50%;
  border-radius: 0 2px 2px 0;

}

/* toolbox */

.toolbox {

  margin: 30px 10%;
  width: 80%;
  padding: 0 15px;
  border-radius: 2px;
  background-color: #aaa;

}

.toolbox a {

  display: inline-block;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  padding: 15px;
  text-decoration: none;

}

.toolbox a:hover {

  background-color: #22b0c1;

}

.toolbox a i {

  margin-right: 8px;

}

/*------- footer -------*/

section.view {
  
  padding: 10px 0 75px 0;

}

#footer {

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  background-color: #222;

}

#footer a {

  display: inline-block;
  color: #999;
  font-size: 14px;
  line-height: 14px;
  padding: 15px;
  text-decoration: none;

}

#footer a:hover {

  background-color: #22b0c1;
  color: #fff;

}

#footer a i {

  margin-right: 8px;

}

/*------- list -------*/

div.designs {

  margin-top: -40px;

}

div.design {

  height: 250px;
  cursor: pointer;
  text-align: center;
  line-height: 250px;
  font-size: 18px;
  font-weight: 400;

}

div.design a {

  color: #fff;
  opacity: 0.8;
  text-decoration: none;

}

div.design:hover a {

  opacity: 0.95;

}

div.design:hover {

  opacity: 0.8;

}

/*-------- View Response -------*/

table.res-table {

  margin-top: -40px; 
  font-weight: 400;
  min-width: 100%; 

}

td, th {

  min-width: 200px;
  padding: 15px;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: #f0f0f0;

}

th {

  font-size: 16px;
  background-color: #22b0c1;
  color: #f2f2f2;

}

td {

  background-color: #ddd;

}









