<section ng-controller="DesignController" ng-init="findOne()">
  <div id="pages">
    <div class="page" ng-repeat="p in pages track by $index">
      <div class="page-num">Page {{$index + 1}}</div>
      <div class="title">
        <input type="text" ng-model="p.title" placeholder="p.title" required>
      </div>
      <div id="blocks">
        <div ng-class="{'block-edit': edit}" class="block" ng-switch on="b.type" ng-repeat="b in p.blocks track by $index">
          <div ng-click="edit = true">
            <input class="question" word="!edit" ng-model="b.question"></input><br>
            <input class="description" word="!edit" ng-model="b.description"></input><br>

            <select name="" id="" ng-hide="edit" ng-switch-when="select" ng-model="option" ng-options="o for o in b.options">
              <option ng-repeat="o in b.options track by $index" value="o">
                {{o}}
              </option>
            </select>

            <div ng-hide="!edit" ng-switch-when="select">
              <div ng-repeat="o in b.options track by $index">
                Option {{$index + 1}}: 
                <input ng-model="b.options[$index]"></input>
              </div>
              <button type="button" ng-click="addOption($parent.$parent.$index, $parent.$index)">
                Click to add option
              </button>
            </div>
          
            <textarea name="" id="" cols="75" rows="5" placeholder="(This will be the user's answer)" disabled="true" ng-switch-when="textarea"></textarea>
          
            <input type="text" disabled="true" placeholder="(This will be the user's answer)" ng-switch-default>
            <div class="clear-fix"></div>

          </div>
          <select ng-model="b.type" ng-hide="!edit" class="question-type">
            <option value="text">text</option>
            <option value="textarea">textarea</option>
            <option value="select">select</option>
          </select>
          <button type="button" ng-hide="!edit" ng-click="edit = false" class="edit-done-btn">OK</button>
        </div>
      </div>
      <div class="toolbox">
        <a href="" class="addBlock" ng-click="addBlock($index)">
          <i class="fa fa-plus-square"></i>New Question
        </a>
        <a href="" class="addPage" ng-click="addPage($index)">
          <i class="fa fa-file-text"></i>New Page
        </a>
      </div>
      <hr>
    </div>
  </div>

  <form ng-submit="update()">
    <div class="foot">
      <div>
        <button type="submit" class="submit-btn">Done</button>
      </div>
    </div>
  </form>

  <!-- <form class="form-horizontal col-md-6" role="form" ng-submit="create()">
    <div class="form-group">
      <label for="title" class="col-md-2 control-label">Title</label>
      <div class="col-md-10">
        <input type="text" class="form-control" ng-model="title" id="title" placeholder="Title" required>
      </div>
    </div>
    <div class="form-group">
      <label for="content" class="col-md-2 control-label">Content</label>
      <div class="col-md-10">
        <textarea ng-model="content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="button" type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form> -->

</section>