<section ng-controller="DesignController" ng-init="find()">
	<div class="container-fluid designs">
    <div class="row">
<!-- 			<span>{{design.created | date:'medium'}}</span> /
			<span>{{design.user.name}}</span> / -->
			<div ng-repeat="design in designs track by $index" class="col-md-4 design" 
           ng-style='{backgroundColor: colors[$index]}' 
           ng-click="goToDesign(design._id)">
        <a ng-href="#!/designs/{{design._id}}">{{design.form_name}}</a>
      </div>
			<!-- <div>{{design.content}}</div> -->
    </div>
	</ul>
	<h1 ng-hide="!designs || designs.length">No designs yet. <br> Why don't you <a href="/#!/designs/create">Create One</a>?</h1>
</section>

