<section ng-controller="DesignController" ng-init="viewDesign()" 
         ng-class="{'view': global.user._id == design.user._id}">
<!--     <span>{{design.created | date:'medium'}}</span> /
    <span>{{design.user.name}}</span> -->

    <form ng-submit="getResponse()">
        <div id="form-name">
            <div ng-bind="design.form_name"></div>
            <hr>
        </div>
        <!-- <div id="pages"> -->
            <div class="page">
            <!-- <div class="page" ng-repeat="p in design.pages track by $index"> -->
                <div class="page-num">Page {{page_num + 1}}</div>
                <div class="title">
                    <div ng-bind="p.title"></div>
                </div>
                <div id="blocks">
                    <div class="block" ng-switch on="b.type" 
                    ng-repeat="b in p.blocks track by $index">
                        <div>
                            <div class="question" ng-bind="b.question"></div>
                            <div class="description" ng-bind="b.description"></div>

                            <select name="" id="" ng-hide="edit" ng-switch-when="select" 
                            ng-model="answer[page_num][$index]" 
                            ng-options="o for o in b.sel_options">
                                <option ng-repeat="o in b.sel_options track by $index" value="o">
                                    {{o}}
                                </option>
                            </select>

                            <textarea name="" id="" cols="75" rows="5" 
                            ng-model="answer[page_num][$index]" 
                            ng-switch-when="textarea">
                            </textarea>
                            
                            <input type="text" ng-switch-default 
                            ng-model="answer[page_num][$index]">
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        <div class="foot">
            <hr>
            <div>
                
                <button type="button" class="submit-btn left-btn" 
                    ng-if="page_num != 0" ng-click="lastPage()">
                    Last
                </button>
                <button type="submit"  ng-class="{'right-btn': page_num > 0}"
                    class="submit-btn" ng-if="page_num == pages.length-1">
                    Submit
                </button>
                <button type="button" class="submit-btn" ng-class="{'right-btn': page_num > 0}" 
                    ng-if="page_num != pages.length-1" ng-click="nextPage()">
                    Next
                </button>
            </div>
        </div>
    </form>

    <div ng-show="global.user._id == design.user._id" id="footer">
        <a href="/#!/designs/{{design._id}}/response">
            <i class="fa fa-list-alt"></i>View Responses
        </a>
        <a href="/#!/designs/{{design._id}}/edit">
            <i class="fa fa-edit"></i>Edit Form
        </a>
        <a href="" ng-click="remove();">
            <i class="fa fa-trash-o"></i>Delete Form
        </a>
    </div>

</section>
